* {
  cursor: none;
}

body {
  background-color: #ccc;
}

a {
  font-size: 26px;
  text-align: center;
  margin: 100px auto;
  display: block;
} 

.cursor, .cursor-follower {
  -webkit-transform: translateX(-100px) translateY(-100px);
  transform: translateX(-100px) translateY(-100px);
}

.cursor {
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.cursor-follower {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.2s ease-out;
  will-change: all;
  transform: translate(-50%, -50%);
}

.cursor-inner {
  z-index: 9999;
  pointer-events: none!important; 
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  border-radius: 50%;
}

#mouse-cursor.on-link .cursor-follower {
  border: 0.5px solid #ff0000;
  width: 40px;
  height: 40px;
}


